<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='/vexflow-min.js') }}"></script>
    <script src="{{ url_for('static', filename='/score.js') }}"></script>
    <style>

        .btn-group button {
            height: 30px;
            width: 40px;
            cursor: pointer;
            margin-top: 10px;
            margin-right: 10px;
            float: left;
        }
    </style>
</head>
<body>
<div id="boo"></div>
<div>
    <span>delete count <input type="text" value="" id="delete-count"></span>
</div>
<div>
    <span>fill count <input type="text" value="0" id="fill-count"></span>
</div>
<div>
    <span>drawn notes <input type="text" value="" id="drawn-notes"></span>
</div>
<div>
    <span>selected subdivision<input type="text" value="Quarter Note" id="subdivision"></span>
</div>

<div class="btn-group" id="note-buttons">
    <button class="note-button" id="Whole Note"><img
            src="{{ url_for('static', filename='/note-pics/whole-note.svg') }}"
            width="10" height="7" alt=""></button>
    <button class="note-button" id="Half Note"><img
            src="{{ url_for('static', filename='/note-pics/half-note.svg') }}"
            width="20" height="20"></button>
    <button class="note-button" id="Quarter Note"><img
            src="{{ url_for('static', filename='/note-pics/quarter-note.svg') }}"
            width="7" height="20"></button>
    <button class="note-button" id="Eighth Note"><img
            src="{{ url_for('static', filename='/note-pics/eighth-note.svg') }}"
            width="20" height="20"></button>
    <button class="note-button" id="Sixteenth Note"><img
            src="{{ url_for('static', filename='/note-pics/sixteenth-note.svg') }}"
            width="11" height="22"></button>
</div>
</body>
</body>
</html>