<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
    <script src="{{ url_for('static', filename='/vexflow-min.js') }}"></script>
    <script src="{{ url_for('static', filename='/score.js') }}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="h-100 w-90 row">
        <div class="col" id="left-col"></div>
        <div class="col" id="center-col">
            <div class="row" id="inner-row">
            <div id="boo"></div>
            </div>
            <div class="elements">
                <input type="hidden" value="" id="delete-count">
                <input type="hidden" value="0" id="fill-count">
                <input type="hidden" value="" id="drawn-notes">
                <input type="hidden" value="Quarter Note" id="subdivision">
                <div class="btn-group" id="note-buttons">
                    <button class="btn btn-outline-primary" id="Whole Note"><img
                            src="{{ url_for('static', filename='/note-pics/whole-note.svg') }}"
                            width="10" height="7" alt=""></button>
                    <button class="btn btn-outline-primary" id="Half Note"><img
                            src="{{ url_for('static', filename='/note-pics/half-note.svg') }}"
                            width="20" height="20"></button>
                    <button class="btn btn-outline-primary" id="Quarter Note"><img
                            src="{{ url_for('static', filename='/note-pics/quarter-note.svg') }}"
                            width="7" height="20"></button>
                    <button class="btn btn-outline-primary" id="Eighth Note"><img
                            src="{{ url_for('static', filename='/note-pics/eighth-note.svg') }}"
                            width="20" height="20"></button>
                    <button class="btn btn-outline-primary" id="Sixteenth Note"><img
                            src="{{ url_for('static', filename='/note-pics/sixteenth-note.svg') }}"
                            width="11" height="22"></button>
                </div>
            </div>
        </div>
        <div class="col" id="right-col"></div>
    </div>
</div>
</div>
</body>
</body>
</html>