<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
    <script src="{{ url_for('static', filename='/vexflow-min.js') }}"></script>
    <script src="https://unpkg.com/tone@latest/build/Tone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scribbletune/4.1.0/scribbletune.js"></script>
    <script src="{{ url_for('static', filename='/score.js') }}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="h-100 w-90 row">
        <div class="col" id="left-col"></div>
        <div class="col" id="center-col">
            <div class="row" id="inner-row" style="width: 460px">
                <div id="boo"></div>
            </div>
            <div class="elements">
                <input type="hidden" value="1" id="bar-count">
                <input type="hidden" value="0" id="fill-count">
                <input type="hidden" value="4" id="fill-capacity">
                <input type="hidden" value="" id="drawn-notes">
                <input type="hidden" value="Quarter Note" id="subdivision">
                <div class="btn-group" id="note-buttons">
                    <button class="btn btn-outline-primary" id="Whole Note"><img
                            src="{{ url_for('static', filename='/note-pics/whole-note.svg') }}"
                            width="10" height="7" alt=""></button>
                    <button class="btn btn-outline-primary" id="Half Note"><img
                            src="{{ url_for('static', filename='/note-pics/half-note.svg') }}"
                            width="20" height="20"></button>
                    <button class="btn btn-outline-primary" id="Quarter Note"><img
                            src="{{ url_for('static', filename='/note-pics/quarter-note.svg') }}"
                            width="7" height="20"></button>
                    <button class="btn btn-outline-primary" id="Eighth Note"><img
                            src="{{ url_for('static', filename='/note-pics/eighth-note.svg') }}"
                            width="20" height="20"></button>
                    <button class="btn btn-outline-primary" id="Sixteenth Note"><img
                            src="{{ url_for('static', filename='/note-pics/sixteenth-note.svg') }}"
                            width="11" height="22"></button>
                    <button class="btn btn-outline-primary" id="play-button"><img
                            src="{{ url_for('static', filename='/play-button.svg') }}"
                            width="20" height="20"></button>
                </div>
                <div class="input-group mb-3" id="chord-inputs">
                    <span class="input-group-text" id="basic-addon1">Chord Name</span>
                    <input type="text" value="" class="form-control" placeholder="Cm7"
                           aria-label="Cm7" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
                    <button class="btn btn-outline-secondary" type="button" id="button-addon3">-</button>
                </div>

                <!--                <div class="btn-group" id="rest-buttons">-->
                <!--                    <button class="btn btn-outline-primary" id="whole-rest"><img-->
                <!--                            src="{{ url_for('static', filename='/rest-pics/whole-rest.svg') }}"-->
                <!--                            width="25" height="25" alt="" ></button>-->
                <!--                    <button class="btn btn-outline-primary" id="half-rest"><img-->
                <!--                            src="{{ url_for('static', filename='/rest-pics/half-rest.svg') }}"-->
                <!--                            width="25" height="25"></button>-->
                <!--                    <button class="btn btn-outline-primary" id="quarter-rest"><img-->
                <!--                            src="{{ url_for('static', filename='/rest-pics/quarter-rest.svg') }}"-->
                <!--                            width="15" height="25"></button>-->
                <!--                    <button class="btn btn-outline-primary" id="eighth-rest"><img-->
                <!--                            src="{{ url_for('static', filename='/rest-pics/eighth-rest.svg') }}"-->
                <!--                            width="10" height="20"></button>-->
                <!--                    <button class="btn btn-outline-primary" id="sixteenth-rest"><img-->
                <!--                            src="{{ url_for('static', filename='/rest-pics/sixteenth-rest.svg') }}"-->
                <!--                            width="10" height="20"></button>-->
                <!--                </div>-->
            </div>
        </div>
        <div class="col" id="right-col"></div>
    </div>
</div>
    <script type="module">
        const allChords = scribble.chords();
        document.querySelector("#button-addon2").addEventListener("click", function () {
            let chord = document.querySelector("#chord-inputs > input").value

            console.log(scribble.chord(chord))

        })
    </script>
</body>
</html>